body {
  background: #626570;
  }
  * {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  }
  .app {
  height: auto;
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  color: #ffffff;
  }
  .todo-list {
  margin-top: 16px;
  height: 48px;
  width: 384px;
  display: flex;
  border: 1px solid #7a7b7c;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  padding: 0 15px;
  }
  li {
  list-style: none;
  overflow-wrap: anywhere;
  height: auto;
  width: 176px;
  }
  button {
  padding: 8px 8px;
  margin: 0 4px;
  border: #80ce28;
  border-radius: 10px;
  color: #fff;
  background-color: #80ce28;
  }
  input{
    padding: 8px 8px;
    margin: 0 4px;
  }